.user-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    &:hover{
        background: white;
    }
    .user-name, .close-icon{
        margin-right: 10px;
        cursor: pointer;
    }
}
.userActive{
    border-bottom: solid 4px #e4825f;
    background: white;
}